@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #54545400;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #acacac;
    border-radius: 30px;
}

body {
    background-color: #e2e2e2;
    padding-top: 100px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 36px;
    margin-right: 16px;
}

header h1 {
    font-size: 35px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 56px;
}

form input {
    font-size: 18px;
    background-color: #fff;
    border: none;
    border-bottom: 4px solid #9d9d9d;
    padding: 8px;
    border-radius: 100px;
    outline-color: #9d9d9d;
}

form button {
    background-color:  #009432;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 100px;
}

form button:hover {
    background-color:  #00943100;
    color: #009432;
    border: 2px solid #009432;
}

table {
    width: 100%;
}

table th {
    border-bottom: 2px solid #000;
    padding: 16px;
    font-size: 24px;
}

table td {
    padding: 16px 0;
    text-align: center;
    font-size: 18px;
    border-bottom: 1px solid #0000001a;
}

table td img {
    height: 30px;
}

footer {
  margin-top: 324px;
  background-color: #182c61;
  color: #ecf0f1;
  padding: 16px 0;
}

footer a {
    color: #fff;
}